@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-width: 2px;
  border-style: solid;
  border-radius: 9999px;
  border-color: white transparent white transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}